*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.tfvars
*.auto.tfvars
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
.python-version
.terraform.tfstate.lock.info
.terraform.lock.hcl
.terraform

website/vendor

.vscode/

.env.sh
.env