name: Main Branch Push
on:
  push:
    branches:
      - main

permissions:
  issues: write
  pull-requests: write
  id-token: write

jobs:
  main-branch-push:
    runs-on: ubuntu-latest
    environment:
      name: tfauto
    steps:
      - uses: 8BitJonny/gh-get-current-pr@2215326c76d51bfa3f2af0a470f32677f6c0cae9 # 2.2.0
        id: PR
      - name: checkout
        if: steps.PR.outputs.number != ''
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # 3.6.0
      - name: Azure login
        uses: azure/login@a65d910e8af852a8061c627c456678983e180302 #v2.2.0
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      - name: Download pr tfplan
        if: steps.PR.outputs.number != ''
        run: |
          az storage blob download --account-name avmtelemetrystate --container-name azure-verified-tfmod-pull-request-plans --name telemetry/tfplan_${{steps.PR.outputs.number}}.txt --no-progress --file tfplan.txt --auth-mode login
          az storage blob download --account-name avmtelemetrystate --container-name azure-verified-tfmod-pull-request-plans --name telemetry/tfplan_${{steps.PR.outputs.number}} --no-progress --file tfplan --auth-mode login
      - name: Read Terraform version
        if: steps.PR.outputs.number != ''
        id: read_version
        run: echo "TF_VERSION=$(head -n 1 tfplan.txt)" >> $GITHUB_ENV
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        if: steps.PR.outputs.number != ''
        with:
          terraform_wrapper: false
          terraform_version: ${{ env.TF_VERSION }}
      - name: Apply
        if: steps.PR.outputs.number != ''
        env:
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_USE_OIDC: "true"
        run: |
          export ARM_OIDC_REQUEST_TOKEN=$ACTIONS_ID_TOKEN_REQUEST_TOKEN
          export ARM_OIDC_REQUEST_URL=$ACTIONS_ID_TOKEN_REQUEST_URL
          terraform init || echo "Terraform init error but we tolerate it here."
          terraform init -reconfigure
          terraform apply -auto-approve -input=false -compact-warnings tfplan
          terraform output
      - name: Delete tfplan file
        if: steps.PR.outputs.number != ''
        run: |
          az storage blob delete --account-name avmtelemetrystate --container-name azure-verified-tfmod-pull-request-plans --name telemetry/tfplan_${{steps.PR.outputs.number}} --auth-mode login
          az storage blob delete --account-name avmtelemetrystate --container-name azure-verified-tfmod-pull-request-plans --name telemetry/tfplan_${{steps.PR.outputs.number}}.txt --auth-mode login
      - name: PR comment with reactions
        if: steps.PR.outputs.number != ''
        uses: thollander/actions-comment-pull-request@8a3fad13c20088e9eb0805666b9fe49509d2fec8 # 1.6.0
        with:
          message: |
            tfplan file applied and purged ! :wave:
          reactions: rocket
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          pr_number: ${{ steps.PR.outputs.number }}